%p#notice
  = notice

%h1 Listing Carts

%table
  %thead
    %tr
      %th{:colspan => '3'}

%tbody
  - @carts.each do |cart|
    %tr
      %td= link_to 'Show', cart
      %td= link_to 'Edit', edit_cart_path(cart)
      %td= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' }
  

%br
  = link_to 'New Cart', new_cart_path




