.carts {
 .item_price, .total_line {
 text-align: right;
}
 .total_line .total_cell {
 font-weight: bold;
 border-top: 1px solid #595;
 }
}
.carts, #side #cart {
.item_price, .total_line {
text-align: right;
}
.total_line .total_cell {
font-weight: bold;
border-top: 1px solid #595;
}
}